<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Index</title>
        <script src="../node_modules/vue/dist/vue.js"></script>
    </head>

    <body>
        <div id="app">
            <h3>条件渲染</h3>

            <div>
                <p v-if="seen>5">
                    当前seen大于5
                </p>
                <p v-else>
                    当前seen小于5
                </p>
            </div>

            <div>
                <p v-if="type == 1">当前type == 1</p>
                <p v-else-if="type == 2">当前type == 2</p>
                <p v-else>当前type不为1也不为2</p>
            </div>

            <div>
                <p v-show="show">如你所见，我是可见的</p>
                <p v-show="!show">看来你看不见我，不过我在DOM元素中</p>
            </div>

        </div>
        <script>
            var app = new Vue({
                el: "#app",
                data: {
                    seen: 6,
                    type: 0,
                    show: true
                }
            });
        </script>
    </body>

</html>
